.container {
  textarea {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    border: none;
    padding: 10px 10px;
    background-color: rgb(235, 235, 235);
    outline: none;
  }

  button {
    background-color: white;
    padding: 10px 30px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: 1px solid black;
    transition: all 0.4s;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);

    &:hover {
      background-color: black;
      color: white;
    }
  }
}
