.container {
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navigation {
    display: flex;
    align-items: center;
    gap: 10px;

    .arrow {
      padding: 10px 20px;
      margin-left: -20px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }

  .account {
    display: flex;
    align-items: center;
  }
}
