.container {
  margin: 10px 60px 40px;
  flex: 1;

  .main {
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    background: white;
    padding: 15px 30px 15px;

    h1 {
      margin-bottom: 0px;
    }

    .author_wrapper {
      p {
        font-size: 12px;
        opacity: 0.5;
      }
    }

    p {
      font-size: 16px;
    }

    img {
      margin-bottom: 20px;
    }

    .row_image {
      display: flex;
      gap: 20px;
    }

    .main_footer {
      display: flex;
      justify-content: space-between;

      .like {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }

  .footer {
    h3 {
      font-size: 22px;
      margin-top: 20px;
    }

    .comments {
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
      background: white;
      padding: 30px 30px 30px;
    }
  }
}
